* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 6px 12px;
  border: 0;
  border-radius: 5px;
  min-height: 35px;

  cursor: pointer;
}
button:hover {
  transition: .5s;
  background-color: #42545C;
  color: white;
}

button.btn-large {
  min-height: 45px;
  width: 100%;
}


.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
  flex: 1;
}

@media only screen and (min-width: 400px) {
  .row {
    display: flex;
    gap: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;
  }
}