
<div class="new-hero-container">
    <h3>Add Your Hero:</h3>
    <label for="new-hero">Name: </label>
    <input id="new-hero" #heroName placeholder="Enter here..."/>
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes" 
    routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> 
        <span class="hero">{{hero.name}}</span>
        <button class="delete" title="delete hero"
        (click)="onDeleteBtn($event, hero)">X</button>
    </li>
</ul>

<app-popup *ngIf="selectedHero" [hero]="selectedHero" (deleteRequest)="delete($event)"></app-popup>
